@page
@model IndexModel
@{
    ViewData["Title"] = "Beleriand";
}

<script src="lib/phaser2.min.js"></script>
<script src="js/beleriand/boot.js"></script>
<script src="js/beleriand/load.js"></script>
<script src="js/beleriand/update.js"></script>
<script src="js/beleriand/game.js"></script>

<div id='gameDiv'> </div>

