@page
@{
    ViewData["Title"] = "Contacto";
}


<div class="container">
   <h1>Información de contacto</h1>
   <p class="lead">Correo: garciapdev@gmail.com<br>
   Telf: 985839208<br>
   Github: <a target="_blank" rel="external" href="https://github.com/Garcia2001SO">github.com/Garcia2001SO</a></p>
</div>