@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="jum" class="jumbotron text-center">
    <div class="fondo">
        <img id="bkgr" src="assets/background.jpg">
    </div>
    <div class="logo1">
        <img id="lo1" src="assets/logos.png">
    </div>
    <div class="texto">
        <h1 class="display-4">Garcia Developer</h1>
        <p class="lead">Estudiante de Desarrollo de Software<br>
        Puede entretenerse jugando mi versión de Pong escrito en JS
        <a href="Pong">Aquí</a></p>
    </div>
</div>